@font-face {
    font-family: 'Wood Stamp';
    src: url('/src/assets/fonts/WoodStamp/WoodStamp.woff') format('woff2'),
        url('/src/assets/fonts/WoodStamp/WoodStamp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}