<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Lucha Libréry
    </a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a class="nav-link" href="#">@Gorodhran</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
            </ul>
        </div>
    </div>
</nav>