.navbar-brand{
    font-family: Wood Stamp;
    font-size:2.5em;
    color:#feaf38;
    fill:#feaf38;
}

.brand-logo{
    fill:#feaf38;
}

.brand-logo:hover{
    fill:#ca3038;
}


.navbar-brand:hover{
    color:#ca3038;
    fill:#ca3038;
    transition: color 0.5s;
}

.nav-link{
    color: #feaf38 !important;
    font-weight: bolder;
}

.nav-link:hover{
    color: #ca3038 !important;
    transition: color 0.5s;
}

.navbar{
    background-color: #1e1832;
}

.navbar-toggler-icon {
    background-image: url("/../../assets/toggler.svg");
}
  
  .navbar-toggler {
    border-color:#feaf38;
  } 