
// @font-face {
//     font-family: 'Wood Stamp';
//     src: url('../../assets/fonts/WoodStamp/WoodStamp.woff2') format('woff2'),
//         url('../../assets/fonts/WoodStamp/WoodStamp.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

#load-font {
    font-family: Wood Stamp;
    font-size:2em;
    display:block;
}

// @font-face {
//     font-family: "Wood Stamp";
//     src: url("../../assets/fonts/Woodstamp.otf");
//   }  
