<div class="settings-container">
	<form method="post">
		<h2 class="text-center">Don the mask</h2>
		<div class="form-group"><input type="text" class="form-control" minlength="2" name="forename"
				placeholder="First Name" required (change)="updateFirstName($event)" /></div>
		<div class="form-group"><input required (change)="updateSurname($event)" type="text" class="form-control"
				minlength="2" name="surname" placeholder="Surname" /></div>
		<div class="form-group">
			<button (click)="startGenerator()" id="generate-button" class="btn btn-primary btn-block" type="button">Suit
				Up</button>
			</div>
	</form>
</div>

<div class="lucha-container">
	<div *ngIf="posterLoading" class="form-container" id="loading-container">
		<div id="loading-div" class="loading-animation">
			<img src="../../assets/loading.svg" height=200 />
		</div>
	</div>
	<div class="form-container" id="poster-container">
		<canvas id="poster" width="600" height="900"></canvas>
	</div>
</div>