:host{
    display:block;
    background-color: #ffe598;
    color:#1e1832;
}

.settings-container {
    display: table;
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    padding-top: 1em;
  }

  .btn-primary {
    font-weight: bold;
    color: #fff;
    background-color: #de6a37;
    border-color: #ca3038; /*set the color you want here*/
}

.btn-primary:active {
    color: #1e1832 !important;
    background-color: #cfff70 !important;
    border-color: #cfff70 !important; /*set the color you want here*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #de6a37;
    border-color: #ca3038; /*set the color you want here*/
}
