<div class="settings-container">
    <form method="post">
        <h2 class="text-center">Don the <strong>mask</strong></h2>
        <div class="form-group"><input type="text" class="form-control" minlength="2" name="forename"
                placeholder="First Name" required /></div>
        <div class="form-group"><input type="text" class="form-control" minlength="2" name="surname"
                placeholder="Surname" required /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Suit Up</button></div>
    </form>
</div>