/* You can add global styles to this file, and also import other style files */
// @import 'assets/fonts/fonts.scss';

// @font-face {
//     font-family: "Wood Stamp";
//     font-size: normal;
//     font-weight: normal;
//     src: url("assets/fonts/Woodstamp.otf")  format("opentype");
//   }  

  @font-face {
    font-family: "Wood Stamp";
    font-size: normal;
    font-weight: normal;
    src: url("assets/fonts/WoodStamp/WoodStamp.woff")  format("woff"),
         url("assets/fonts/WoodStamp/WoodStamp.woff2")  format("woff2");
  }  


body {
    font-family: Wood Stamp;
    font-size: normal;
    font-weight: normal;
}